.logo{
    width: 224px;
    height: 56px;
    
}

.header{
    background: black;
    text-align: center;
    height: 56px;
}

.icon{
    text-align: left !important;
  
}

.icon-arrow{
    padding-top: 13px;
}