<div class="container p-3">
    <form>
        <div class="mb-3">
            <input placeholder="Nome" type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <input placeholder="E-mail" type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <input placeholder="telefone" type="email" class="form-control form-control-lg" id="exampleInputEmail1"
                aria-describedby="emailHelp">

        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Quero receber notificações
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
            <label class="form-check-label" for="flexCheckChecked">
                Li e aceito os termos de uso
            </label>
        </div>

        <div class="d-grid gap-2 p-5">
            <button class="btn btn-dark" type="button">Finalizar cadastro</button>
        </div>

    </form>

</div>