.card-title{
    text-align: left;
    font: normal normal bold 16px/21px TT Norms Pro;
    letter-spacing: 0px;
    color: #00000099;
    opacity: 1;
}

.genre{
    text-align: left;
font: normal normal normal 12px/21px TT Norms Pro;
letter-spacing: 0px;
color: #00000099;
opacity: 1;
margin-left: auto;
}

.buy{
    text-align: center;
}

.max-lines {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2em;
    line-height: 1.8em;
  }