.session{
    background: #F1F3F4;
    margin: 26px;
}

.type{
    color: #FF7300DD;
}

.session-type{
    color: #1860B3DD !important;
    border-color: #1860B3DD !important;
}


.btn-session{
    color: #1860B3DD ;
    border-color: #1860B3DD ;
}

.icon-title{
    color: #FF7300DD;
}

.banner{
    width: 150px;
    height: 184px;
}

.banner-container{
    text-align: center;
}

